body{
    background-color: rgb(0, 138, 184)
}

div h1 {
    color: navy;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
  }
 
